doc
  title(text="Opening of the Hall of the Neophytes")
    | Opening of the Hall of the Neophytes
  todo diagram
  todo officers, required
  do(role="hierophant") Waits until all members assembled and robed, then ✊ once
  do(role="members") Sit in proper places
  do(role="all-officers") Rise
  note
    | Non-officers do not rise except for adorations to the east or when asked for the
    | signs. Stand when Hierophant says "Let us adore the Lord of the universe and
    | sapce" and face east until end of adoration. Do not circumambulate with
    | officers, but when they do move, should do so in the direction of the sun and
    | make Neophyte signs on passing the throne of the east whether the Hierophant is
    | there or not. Sign made in direction of movement except when entering or
    | leaving the hall. When made towards the east or when asked to give the signs,
    | towards the altar.
  do(role="hierophant") ✊
  do(role="keryx")
    | On hearing the ✊, goes to the northeast, to the Hierophant's right, facing west,
    | and raises lamp and wand ).
  say(role="keryx") Hekas! Hekas! Este bebeloi.
  do(role="keryx") Returns to his/her place
  do(role="hierophant") Rises and ✊
  say(role="hierophant")
    | Fratres and sorores of the (name) Temple of the Order of the Stella Matutina,
    | assist me to open the hall of the Neophytes. Frater Keryx, see that the hall is
    | properly guarded.
  do(role="keryx") Goes to the door and gives one ✊
  do(role="sentinel") Replies with one ✊
  say(role="keryx") Very honoured Hierophant, the hall is properly guarded.
  do(role="keryx") Salutes the Hierophant's throne and remains by the door
  say(role="hierophant")
    | Honoured Hiereus, guard the hither side of the portal and assure yourself that
    | all present have witessed the Stella Matutina.
  do(role="hierius") Goes to the door and stands before it with sword erect
  do(role="keryx") Stands to the right of Hiereus with with lamp and wand
  say(role="hiereus")
    | Fratres and Sorores of the Order of teh Stella Matutina, give the signs of a
    | Neophyte.
  do(role="all") Give Neophyte signs
  do(role="hiereus") Give the signs towards Hierophant
  say(role="hierus") Very honoured Hierophant, all present have been so honoured.
  do(role="hiereus,kerux") Return to your place
  do(role="hierophant")
    | Give Sign of the Enterer towards the west, but not the Sign of Silence.
  say(role="hierophant")
    | Let the number of officers in this degree and the nature of their offices be
    | proclaimed once again, that the powers whose images they are may be awakaned in
    | the spheres of those present and in the sphere of this order, for by names and
    | images are all powers awakened and reawakened.
  do(role="hierophant") Make the Sign of Silence
  say(role="hierophant")
    | Honoured Hiereus, how many chief officers are there in this grade?
  do(role="hiereus")
    | There are three chief officers: the Hierophant, the Hiereus, and the Hegemon
  say(role="hierophant") Is there any precularity in these names?
  say(role="hiereus") They all commence with the letter "H".
  say(role="hierophant") Of what is this letter a symbol?
  say(role="hiereus")
    | Of life, because the letter "H" is our mode of representing the ancient Greek
    | aspirate or breathing, and breath is the evidence of life.
  say(role="hierophant") How many lesser officers are there?
  say(role="hiereus")
    | There are three beside the Sentinal: the Kerux, the Stolistes, and the
    | Dadouchos. The Sentinel is withouot the portal of the hall and has a sword in
    | his hand to keep out intruders. It is his duty to prepare the candidate.
  say(role="hierophant") Frater Dadouchos, your station and duties?
  say(role="dadouchos")
    | My station is in the south to symbolise heat and dryness, and my duty is to see
    | that the lamps and fires of the temple are ready at the opening, to watch over
    | the censer and the incense and to consecrate the hall and the fratres and
    | sorores and the candidate with fire.
  say(role="hierophant") Frater Stolistes, your station and duties?
  say(role="hierophant")
    | My station is in the north to symbolise cold and moisture, and my duties are to
    | see that robes and collars and insignia of the officers are ready at the
    | opening, to watch over the cup of lustral water, and to purify the hall and the
    | fratres and sorores and the candidate with water.
  say(role="hierophant") Frater Kerux, your station and duties?
  say(role="keryx")
    | My place is within the portal. My duties are to see that the furniture of the
    | hall is properly arranged at the opening, to guard the inner side of the portal,
    | to admit the fratres and sorores, and to watch over the reception of the
    | candidate; to lead all mystic circumambulations carrying the lamp of my office,
    | and to make all reports and announcements. My lamp is the symbol of the hidden
    | knowledge, and my wand is the symbol of its directing power.
  say(role="hierophant") Honoured Hegemon, your station and duties?
  say(role="hegemon")
    | My station is between the two pillars of Hermes and Solomon and my face is
    | towards the cubical Altar of the Universe. My duty is to watch over the gateway
    | of the hidden knowledge, for I am the reconciler between light and darkness. I
    | watch over the preparation of the candidate and assist in his reception, and I
    | lead him in the path that conducts from darkness to light. The white colour of
    | my robe is the colour of purity, my ensign of office is a mitre-headed sceptre
    | to symbolise religion which guides and regulates life, and my office symbolises
    | those higher aspirations of the soul which guide its action.
  say(role="hierophant") Honoured Hiereus, your station and duties?
  do(role="hiereus") Holds sword and banner
  say(role="hiereus")
    | My station is on the throne of the west and is a symbol of increase of darkness
    | and decrease of light and I am the master of darkness. I keep the gateway of
    | the west and watch over the reception of the candidate and over the lesser
    | officers in the doing of their work. My black robe is an image of the darkness
    | that was upon the face of the waters. I carry the Sword of Judgement and the
    | Banner of the Evening Twilight, which is the Banner of the West, and I am called
    | fortitude by the unhappy.
  do(role="hierophant") Stand holding the sceptre and Banner of the East
  say(role="hierophant")
    | My station is on the throne of the east, in the place where the sun rises, and I
    | am the master of the hall, governing it according to the laws of the order, as
    | He whose image I am, is the master of all who work for the hidden knowledge. My
    | robe is red because of uncreated fire and created fire, and I hold the Banner of
    | the Morning Light which is the Banner of the East. I am called power and mercy
    | and light and abundance, and I am the expounder of the Mysteries.
  do(role="hierophant") Sits down
  say(role="hierophant")
    | Frater Stolistes and Frater Dadouchos, I command you to purify and consecrate
    | the hall with water and fire.
  do(role="stolistes,dadouchos")
    | Perform your respective below tasks simultaneously.
  do(role="stolistes")
    | Goes to the east, faces Hierophant, and making a cross in the air with his cup,
    | sprinkles a few drops of water three times towards the east. Passes to the
    | south, west and north, repeating the purification in each quarter, then returns
    | to the east to complete the circle.
  do(role="stolistes") Holds the cup high
  say(role="stolistes") I purify with water.
  do(role="dadouchos")
    | Follows Stolistes when he goes to the east, and when he has gone to the south,
    | faces east, raises his censer, and swings thrice towards the east. Then goes
    | south, west and north, repeating the cesnsing at each quarter, and returns to
    | the east to complete the circle.
  do(role="dadouchos") Raises the censer
  say(role="dadouchos") I consecrate with fire.
  do(role="stolistes,dadouchos") Return to their places
  say(role="hierophant")
    | Let the mystic circumambulation take place in the pathway of light.
  do(role="hierophant")
    | Stands holding the sceptre in his right hand, the Banner of the East in his
    | left.
  do(role="keryx") Goes to the northeast with lamp and wand
  do(role="hegemon") Follows
  do(role="hiereus") Follows with banner and sword
  do(role="stolistes") Follows with cup
  do(role="dadouchos") Follows with censer
  do(role="sentinel") Follows with sword
  do(role="keryx")
    | Leads procession past Hierophant, making the signs of Horus and Harpocrates as
    | he passes.
  do(role="hegemon,hiereus,stolistes,dadouchos") Follows, doing the same
  do(role="hiereus") Falls out as soon as he reaches his throne
  do(role="hegemon") Returns to his place after passing Hierophant twice
  do(role="stolistes,dadouchos,sentinel,keryx")
    | Passes the Hierophant 3 times and then take their place as they come to them.
  say(role="hierophant")
    | The mystical circumambulation symbolical of the rise of light is accomplished.
    | Let us adore the Lord of the Universe and space.
  do(role="all")
    | Faces east and make the saluting or the enterer (Horus) sign following the lead
    | of Hierophant. The Sign of Silence is made at the end of the prayer.
  say(role="all")
    | Holy art Thou, Lord of the Universe! (salute)
    br
    | Holy art Thou, Whom nature hath not formed! (salute)
    br
    | Holy art Thou, the vast and the mighty one! (salute)
    br
    | Lord of the light and the darkness! (Sign of Silence)
  do(role="hierophant,hiereus,hegemon")
    | Raise wands / sword in salute, and sink them.
  do(role="all") Face as usual but remain standing
  say(role="hierophant")
    | Frater Keryx, in the name of the Lord of the Universe, I command you to declade
    | that I have opened hte hall of the Neophytes.
  do(role="keryx") Goes northeast, faces west, and raises wand
  say(role="keryx")
    | In the name of the Lord of the Universe, who works in silence and whom naught
    | but silence can express, I declare that the sun has arisen and the shadows flee
    | away.
  do(role="keryx") Returns to his place
  do(role="hierophant") ✊
  do(role="hiereus") ✊
  do(role="hegemon") ✊
  note The ✊'s are given before the words are said.
  say(role="hierophant") (✊) Khabs.
  say(role="hiereus") (✊) Am.
  say(role="hegemon") (✊) Pekht.
  say(role="hierophant") (✊) Konx.
  say(role="hiereus") (✊) Om.
  say(role="hegemon") (✊) Pax.
  say(role="hierophant") (✊) Light.
  say(role="hiereus") (✊) In.
  say(role="hegemon") (✊) Extension.
  do(role="all") Make signs towards the altar and sit down
  do(role="keryx")
    | Removes the rose, cup, paten of bread and salt, and the lamp from the altar,
    | leaving the cross and triangle only. He sees that a hassock is in readiness at
    | the west for the candidate to kneel on.
  title(text="Initiation of the 0=0 Grade")
    | Initiation of the
    |
    grade(grade="0=0")
    |
    | Grade
  say(role="hierophant")
    | Fratres and sorores of the (name) Temple of the Order of the Stella Matutina, I
    | have received a dispensation from the greatly honoured chiefs of the Second
    | Order, to admit
    |
    bold
      var(name="candidateName")
    |
    | to the
    |
    grade(grade="0=0")
    |
    | degree of Neophyte. Honoured Hegemon, bid the candidate prepare
    | for the cermeony of his admission, and superintend his preparation.
  do(role="hegemon")
    | Rises and removes his chair from between the pillars and goes out.
  do(role="sentinel") Follows carrying the hoodwink and rope
  do(role="hegemon")
    | Sees that the candidate is properly robed and hoodwinked and that the rope goes
    | three times around his waist. He then leads the candidate to the door and gives
    | one ✊
  do(role="keryx") One ✊ from within
  say(role="keryx") The candidate seeks for entrance.
  say(role="hierophant")
    | I give permission to admit
    |
    bold
      var(name="candidateName")
    |
    | who now loses his name and will henceforth be known among us as
    |
    bold
      var(name="candidateMotto")
    | . Let the Stolistes and the Dadouchos assist in the reception.
  do(role="keryx") Faces the entrances, ready to open the door
  do(role="stolistes,dadouchos") Stands behind Keryx
  do(role="candidate") Enters (to well within the hall)
  do(role="stolistes,dadouchos,keryx")
    | Stands before candidate in triangular formation.
  do(role="sentinel") Stands behind candidate.
  say(role="hegemon") Inheritor of a dying world, arise and enter the darkness.
  say(role="stolistes") The mother of darkness hath blinded him with her hair.
  say(role="dadouchos") The father of darkness hath hidden him under his wings.
  say(role="hierophant") His limbs are still weary from the wars which were in heaven.
  say(role="keryx") Unpurified and unconsecrated, thouo canst not enter our sacred hall.
  do(role="stolistes")
    | Comes forward and dipping his thumb in the lustral water, makes with it
    | a cross on the candidate's brow and sprinkles him three times.
  say(role="stolistes") I purify thee with water.
  do(role="dadouchos")
    | Comes forward and makes a cross over candidate with his censer,
    | and waves it 3 times.
  say(role="dadouchos") I consecrate thee with fire.
  say(role="hierophant")
    | Conduct the candidate to the foot of the altar. Inheritor of a
    | dying world, why seekest thoou to enter our scared hall? Why
    | seekest thou admission to our order?
  do(role="hegemon") Speaks for candidate.
  say(role="hegemon")
    | My soul wanders in darkness and seeks the light of the hidden knowledge,
    | and I believe that in this Order knowledge of that light may be
    | obtained.
  say(role="hierophant")
    | We hold your signed pledge to keep secret everything that relates to
    | this Order. I now ask you, are you willing to take a solemn
    | obligation in the presence of this assembly, to keep the secrets and
    | mysteries of our Order inviolate?
  do(role="hegemon") Prompts candidate to say: "I am"
  say(role="candidate") I am.
  say(role="hierophant")
    | There is nothing contrary to your civil, moral or religious duties
    | in this obligation. Althoough the magical virtues can indeed awaken
    | into momentary life in the wicked and foolish hearts, they cannot
    | reign in any heart that has not the natural virtues to be their
    | throne. He who is the fountain of the spirit of man and of things,
    | came not to break, but to fulfill the law. Are you ready to take
    | this oath?
  do(role="hegemon") Prompts candidate.
  say(role="candidate") I am ready.
  say(role="hierophant") Then you will kneel on both your knees.
  do(role="hierophant") Comes to east of the altar with sceptre.
  do(role="hegemon") Assists candidate to kneel and stands right of candidate.
  do(role="hiereus") Stands to the left.
  do(role="keryx,stolistes,dadouchos") Complete the hexagram of officers.
  note
    | Hexagram of officers
    img(src="/pics/candidate-hexagram.jpg")
  say(role="hierophant")
    | Give me your right hand which I place upon this holy symbol.
    | Place your left hand in mine, bow your head, repeat your full
    | name by which you are known on Earth, and say after me:
  do(role="hierophant") Prompts candidate
  say(role="candidate,hierophant")
    | I,
    |
    bold
      var(name="candidateName")
    | , in the presence of the Lord of the Universe, who works in silence
    | and whom naught but silence can express, and in this hall of the
    | Neophytes of the Stella Matutina, regularly assembled under warrant
    | from the greatly honoured chiefs of the Second Order, do, of my own
    | free will, hereby and hereon, most solemnly promise to keep secret
    | this Order, its name, the names of its members, and the proceedings
    | that take place at its meetings, from every person in the world who
    | has not been initiated into it; nor will I duscs them with any member
    | who has not the password for the time being, or who has resigned,
    | demitted, or been expelled.
  say(role="candidate,hierophant")
    | I undertake to maintain a kindly and benevolent relation with all
    | the fratres and sorores of this Order.
  say(role="candidate,hierophant")
    | I solemnly promise to keep secret any information I may have
    | gathered concerning this Order before taking this oath.
  say(role="candidate,hierophant")
    | I solemnly promise that any ritual or lecture placed in my care or
    | any cover containing them shall bear the official label of this
    | Order.
  say(role="candidate,hierophant")
    | I will neither copy, nor allow to be copied, any manuscript, until
    | I have obtained permission of the Second Order, lest our secret
    | knowledge be revealed through my neglect.
  say(role="candidate,hierophant")
    | I solemnly promise not to suffer myself to be placed in such a
    | state of passivity, that any unitiated person or power may cause
    | me to lose control of my words or actions.
  say(role="candidate,hierophant")
    | I solemnly promise to persevere with courage and determination
    | in the labours of the divine science, even as I shall persevere
    | with courage and determination through this ceremony which is
    | their image - and I will not debase my mustical knowledge in the
    | labour of evil magic at any time tried or under any temptation.
  say(role="candidate,hierophant")
    | I swear upon this holy symbol to observe all these things withoout
    | evasion, equivocation, or mental reservation, under the penalty of
    | being expelled from this order for my perjury and my offense.
    | Furthermore, if I break this, my magical obligation, I submit
    | myself, by my own consent, to a stream of power, set in motion by
    | the divine guardians of this Order, who live in the light of their
    | perfect justice, and before whom my soul now stands.
  do(role="all") Whispered close to Candidate.
  say(role="all")
    | They journey as upon the winds—
    br
    | They strike where no man strikes—
    br
    | They slay where no man slays—
  say(role="candidate,hierophant")
    | and, as I bow my neck under the sword of the Hiereus, so do I commit
    | myself unto their hands for vengence or reward.
  do(role="hiereus")
    | At words "bow my neck" below, places the flat of his sword
    | on the nape of the candidate's neck.
  say(role="candidate,hierophant")
    | So help me my mighty and secret soul, and the Father of my soul
    | who works in silence and whom naught but silence can express.
  say(role="hierophant")
    | Rise, Neophyte, of the
    |
    grade(grade="0=0")
    |
    | grade of the Order of the Stella Matutina.
