title(text="Opening of the Hall of the Neophytes")
  | Opening of the Hall of the Neophytes
todo diagram
todo officers, required
note 
  | ✊ - This sign represents one knock made by rapping the base or shaft
  | of wand or the pommel of a sword on the table.
do(role="hierophant")
  | Waits until all members assembled and robed, then ✊
do(role="members") Sit in proper places
do(role="all-officers") Rise
do(role="members")
  | Do not rise except for adorations to the east or when asked for the
  | signs.
  br
  br
  | Stand when Hierophant says "Let us adore the Lord of the universe and
  | space" and face east until end of adoration.
  br
  br
  | Do not circumambulate with
  | officers, but when moving for other purposes, do so in the direction of the sun and
  | make the Neophyte signs on passing the Throne of the East whether the Hierophant is
  | there or not.
  | The sign is always made in direction of movement except:
  | 1) When entering or leaving the hall: made towards the east.
  | 2) When asked to give the signs: towards the altar.
do(role="hierophant") ✊
do(role="keryx")
  | On hearing the ✊, goes to the northeast, to the Hierophant's right, facing west,
  | and raises lamp and wand
say(role="keryx")
  summary(summary="Hekas! Hekas! Este bebeloi!")
    | "Begone! Begone! Ye profane ones!" in Greek. Traditionally announced
    | that the ancient Greek Mysteries were about to be celebrated.
do(role="keryx") Returns to his/her place
do(role="hierophant") Rises and ✊
say(role="hierophant")
  | Fratres and sorores of the
  |
  var(name="templeName")
  |
  | Temple of the
  |
  var(name="orderName")
  | , assist me to open the hall of the Neophytes. Frater Keryx, see that the hall is
  | properly guarded.
do(role="keryx") Goes to the door and ✊
do(role="sentinel") Replies with ✊
say(role="keryx") Very honoured Hierophant, the hall is properly guarded.
do(role="keryx") Salutes the Hierophant's throne and remains by the door
say(role="hierophant")
  | Honoured Hiereus, guard the hither side of the portal and assure yourself that
  | all present have witnessed the
  |
  var(name="witnessed")
  | .
do(role="hierius") Goes to the door and stands before it with sword erect
do(role="keryx") Stands to the right of Hiereus with with lamp and wand
say(role="hiereus")
  | Fratres and Sorores of the
  |
  var(name="orderName")
  | , give the signs of a Neophyte.
do(role="all") Give Neophyte signs
do(role="hiereus") Give the signs towards Hierophant
say(role="hiereus") Very honoured Hierophant, all present have been so honoured.
do(role="hiereus,kerux") Return to your place
do(role="hierophant")
  | Give Sign of the Enterer towards the west, but not the Sign of Silence.
say(role="hierophant")
  | Let the number of officers in this degree and the nature of their offices be
  | proclaimed once again, that the powers whose images they are may be awakaned in
  | the spheres of those present and in the sphere of this order, for by names and
  | images are all powers awakened and reawakened.
do(role="hierophant") Make the Sign of Silence
say(role="hierophant")
  | Honoured Hiereus, how many chief officers are there in this grade?
do(role="hiereus")
  | There are three chief officers: the Hierophant, the Hiereus, and the Hegemon
say(role="hierophant") Is there any pecularity in these names?
say(role="hiereus") They all commence with the letter "H".
say(role="hierophant") Of what is this letter a symbol?
say(role="hiereus")
  | Of life, because the letter "H" is our mode of representing the ancient Greek
  | aspirate or breathing, and breath is the evidence of life.
say(role="hierophant") How many lesser officers are there?
say(role="hiereus")
  | There are three beside the Sentinal: the Kerux, the Stolistes, and the
  | Dadouchos. The Sentinel is without the portal of the hall and has a sword in
  | his hand to keep out intruders. It is his duty to prepare the candidate.
say(role="hierophant") Frater Dadouchos, your station and duties?
say(role="dadouchos")
  | My station is in the south to symbolise heat and dryness, and my duty is to see
  | that the lamps and fires of the temple are ready at the opening, to watch over
  | the censer and the incense and to consecrate the hall and the fratres and
  | sorores and the candidate with fire.
say(role="hierophant") Frater Stolistes, your station and duties?
say(role="stolistes")
  | My station is in the north to symbolise cold and moisture, and my duties are to
  | see that robes and collars and insignia of the officers are ready at the
  | opening, to watch over the cup of lustral water, and to purify the hall and the
  | fratres and sorores and the candidate with water.
say(role="hierophant") Frater Kerux, your station and duties?
say(role="keryx")
  | My place is within the portal. My duties are to see that the furniture of the
  | hall is properly arranged at the opening, to guard the inner side of the portal,
  | to admit the fratres and sorores, and to watch over the reception of the
  | candidate; to lead all mystic circumambulations carrying the lamp of my office,
  | and to make all reports and announcements. My lamp is the symbol of the hidden
  | knowledge, and my wand is the symbol of its directing power.
say(role="hierophant") Honoured Hegemon, your station and duties?
say(role="hegemon")
  | My station is between the two pillars of Hermes and Solomon and my face is
  | towards the cubical Altar of the Universe. My duty is to watch over the gateway
  | of the hidden knowledge, for I am the reconciler between light and darkness. I
  | watch over the preparation of the candidate and assist in his reception, and I
  | lead him in the path that conducts from darkness to light. The white colour of
  | my robe is the colour of purity, my ensign of office is a mitre-headed sceptre
  | to symbolise religion which guides and regulates life, and my office symbolises
  | those higher aspirations of the soul which guide its action.
say(role="hierophant") Honoured Hiereus, your station and duties?
do(role="hiereus") Holds sword and banner
say(role="hiereus")
  | My station is on the throne of the west and is a symbol of increase of darkness
  | and decrease of light and I am the master of darkness. I keep the gateway of
  | the west and watch over the reception of the candidate and over the lesser
  | officers in the doing of their work. My black robe is an image of the darkness
  | that was upon the face of the waters. I carry the Sword of Judgement and the
  | Banner of the Evening Twilight, which is the Banner of the West, and I am called
  | fortitude by the unhappy.
do(role="hierophant") Stand holding the sceptre and Banner of the East
say(role="hierophant")
  | My station is on the throne of the east, in the place where the sun rises, and I
  | am the master of the hall, governing it according to the laws of the order, as
  | He whose image I am, is the master of all who work for the hidden knowledge. My
  | robe is red because of uncreated fire and created fire, and I hold the Banner of
  | the Morning Light which is the Banner of the East. I am called power and mercy
  | and light and abundance, and I am the expounder of the Mysteries.
do(role="hierophant") Sits down
say(role="hierophant")
  | Frater Stolistes and Frater Dadouchos, I command you to purify and consecrate
  | the hall with water and fire.
do(role="stolistes,dadouchos")
  | Perform your respective tasks below simultaneously.
do(role="stolistes")
  | Goes to the east, faces Hierophant, and making a cross in the air with his cup,
  | sprinkles a few drops of water three times towards the east. Passes to the
  | south, west and north, repeating the purification in each quarter, then returns
  | to the east to complete the circle.
do(role="stolistes") Holds the cup high
say(role="stolistes") I purify with water.
do(role="dadouchos")
  | Follows Stolistes when he goes to the east, and when Stolistes has gone to
  | the south, Dadouchos
  | faces east, raises his censer, and swings thrice towards the east. Then goes
  | south, west and north, repeating the cesnsing at each quarter, and returns to
  | the east to complete the circle.
do(role="dadouchos") Raises the censer
say(role="dadouchos") I consecrate with fire.
do(role="stolistes,dadouchos") Return to their places
say(role="hierophant")
  | Let the mystic circumambulation take place in the pathway of light.
do(role="hierophant")
  | Stands holding the sceptre in his right hand, the Banner of the East in his
  | left.
do(role="keryx") Goes to the northeast with lamp and wand
do(role="hegemon") Follows
do(role="hiereus") Follows with banner and sword
do(role="stolistes") Follows with cup
do(role="dadouchos") Follows with censer
do(role="sentinel") Follows with sword
do(role="keryx")
  | Leads procession past Hierophant, making the signs of Horus and Harpocrates as
  | he passes.
do(role="hegemon,hiereus,stolistes,dadouchos") Follows, doing the same
do(role="hiereus") Falls out as soon as he reaches his throne
do(role="hegemon") Returns to his place after passing Hierophant twice
do(role="stolistes,dadouchos,sentinel,keryx")
  | Passes the Hierophant 3 times and then take their place as they come to them.
say(role="hierophant")
  | The mystical circumambulation symbolical of the rise of light is accomplished.
  | Let us adore the Lord of the Universe and space.
do(role="all")
  | Stand, face east and make the saluting or the enterer (Horus) sign
  | following the lead of Hierophant. The Sign of Silence is made at the
  | end of the prayer.
say(role="all")
  | Holy art Thou, Lord of the Universe! (salute)
  br
  | Holy art Thou, Whom nature hath not formed! (salute)
  br
  | Holy art Thou, the vast and the mighty one! (salute)
  br
  | Lord of the light and of the darkness! (Sign of Silence)
do(role="hierophant,hiereus,hegemon")
  | Raise wands / sword in salute, and sink them.
do(role="all") Face as usual but remain standing
say(role="hierophant")
  | Frater Keryx, in the name of the Lord of the Universe, I command you to declare
  | that I have opened hte hall of the Neophytes.
do(role="keryx") Goes northeast, faces west, and raises wand
say(role="keryx")
  | In the name of the Lord of the Universe, who works in silence and whom naught
  | but silence can express, I declare that the sun has arisen and the shadows flee
  | away.
do(role="keryx") Returns to his place
do(role="hierophant") ✊
do(role="hiereus") ✊
do(role="hegemon") ✊
note The ✊'s are given before the words are said.
say(role="hierophant") (✊) Khabs.
say(role="hiereus") (✊) Am.
say(role="hegemon") (✊) Pekht.
say(role="hiereus") (✊) Konx.
say(role="hegemon") (✊) Om.
say(role="hierophant") (✊) Pax.
say(role="hegemon") (✊) Light.
say(role="hierophant") (✊) In.
say(role="hiereus") (✊) Extension.
do(role="all") Make signs towards the altar and sit down
do(role="keryx")
  | Removes the rose, cup, paten of bread and salt, and the lamp from the altar,
  | leaving the cross and triangle only. He sees that a hassock is in readiness at
  | the west for the candidate to kneel on.
title(text="Initiation of the 0=0 Grade")
  | Initiation of the
  |
  grade(grade="0=0")
  |
  | Grade
say(role="hierophant")
  | Fratres and sorores of the
  |
  var(name="templeName")
  |
  | Temple of the
  |
  var(name="orderName")
  | , I have received a dispensation from the greatly honoured chiefs of the
  | Second Order, to admit
  |
  b
    var(name="candidateName")
  |
  | to the
  |
  grade(grade="0=0")
  |
  | degree of Neophyte. Honoured Hegemon, bid the candidate prepare
  | for the cermeony of his admission, and superintend his preparation.
do(role="hegemon")
  | Rises and removes his chair from between the pillars and goes out.
do(role="sentinel") Follows carrying the hoodwink and rope
do(role="hegemon")
  | Sees that the candidate is properly robed and hoodwinked and that the rope goes
  | three times around his waist. He then leads the candidate to the door and gives
  | one ✊
do(role="keryx") One ✊ from within
say(role="keryx") The candidate seeks for entrance.
say(role="hierophant")
  | I give permission to admit
  |
  b
    var(name="candidateName")
  |
  | who now loses his name and will henceforth be known among us as
  |
  b
    var(name="candidateMotto")
  | . Let the Stolistes and the Dadouchos assist in the reception.
do(role="keryx") Faces the entrances, ready to open the door
do(role="stolistes,dadouchos") Stands behind Keryx
do(role="candidate") Enters (to well within the hall)
do(role="stolistes,dadouchos,keryx")
  | Stands before candidate in triangular formation.
do(role="sentinel") Stands behind candidate.
say(role="hegemon") Inheritor of a dying world, arise and enter the darkness.
say(role="stolistes") The mother of darkness hath blinded him with her hair.
say(role="dadouchos") The father of darkness hath hidden him under his wings.
say(role="hierophant") His limbs are still weary from the wars which were in heaven.
say(role="keryx") Unpurified and unconsecrated, thouo canst not enter our sacred hall.
do(role="stolistes")
  | Comes forward and dipping his thumb in the lustral water, makes with it
  | a cross on the candidate's brow and sprinkles him three times.
say(role="stolistes") I purify thee with water.
do(role="dadouchos")
  | Comes forward and makes a cross over candidate with his censer,
  | and waves it 3 times.
say(role="dadouchos") I consecrate thee with fire.
say(role="hierophant")
  | Conduct the candidate to the foot of the altar. Inheritor of a
  | dying world, why seekest thoou to enter our scared hall? Why
  | seekest thou admission to our order?
do(role="hegemon") Speaks for candidate.
say(role="hegemon")
  | My soul wanders in darkness and seeks the light of the hidden knowledge,
  | and I believe that in this Order knowledge of that light may be
  | obtained.
say(role="hierophant")
  | We hold your signed pledge to keep secret everything that relates to
  | this Order. I now ask you, are you willing to take a solemn
  | obligation in the presence of this assembly, to keep the secrets and
  | mysteries of our Order inviolate?
do(role="hegemon") Prompts candidate to say: "I am"
say(role="candidate") I am.
say(role="hierophant")
  | There is nothing contrary to your civil, moral or religious duties
  | in this obligation. Althoough the magical virtues can indeed awaken
  | into momentary life in the wicked and foolish hearts, they cannot
  | reign in any heart that has not the natural virtues to be their
  | throne. He who is the fountain of the spirit of man and of things,
  | came not to break, but to fulfill the law. Are you ready to take
  | this oath?
do(role="hegemon") Prompts candidate.
say(role="candidate") I am ready.
say(role="hierophant") Then you will kneel on both your knees.
do(role="hierophant") Comes to east of the altar with sceptre.
do(role="hegemon") Assists candidate to kneel and stands right of candidate.
do(role="hiereus") Stands to the left.
do(role="keryx,stolistes,dadouchos") Complete the hexagram of officers.
note
  | Hexagram of officers
  img(src="/pics/candidate-hexagram.jpg")
say(role="hierophant")
  | Give me your right hand which I place upon this holy symbol.
  | Place your left hand in mine, bow your head, repeat your full
  | name by which you are known on Earth, and say after me:
do(role="hierophant") Prompts candidate
say(role="candidate,hierophant")
  | I,
  |
  b
    var(name="candidateName")
  | , in the presence of the Lord of the Universe, who works in silence
  | and whom naught but silence can express, and in this hall of the
  | Neophytes of the
  var(name="orderName")
  | , regularly assembled under warrant
  | from the greatly honoured chiefs of the Second Order, do, of my own
  | free will, hereby and hereon, most solemnly promise to keep secret
  | this Order, its name, the names of its members, and the proceedings
  | that take place at its meetings, from every person in the world who
  | has not been initiated into it; nor will I duscs them with any member
  | who has not the password for the time being, or who has resigned,
  | demitted, or been expelled.
say(role="candidate,hierophant")
  | I undertake to maintain a kindly and benevolent relation with all
  | the fratres and sorores of this Order.
say(role="candidate,hierophant")
  | I solemnly promise to keep secret any information I may have
  | gathered concerning this Order before taking this oath.
say(role="candidate,hierophant")
  | I solemnly promise that any ritual or lecture placed in my care or
  | any cover containing them shall bear the official label of this
  | Order.
say(role="candidate,hierophant")
  | I will neither copy, nor allow to be copied, any manuscript, until
  | I have obtained permission of the Second Order, lest our secret
  | knowledge be revealed through my neglect.
say(role="candidate,hierophant")
  | I solemnly promise not to suffer myself to be placed in such a
  | state of passivity, that any unitiated person or power may cause
  | me to lose control of my words or actions.
say(role="candidate,hierophant")
  | I solemnly promise to persevere with courage and determination
  | in the labours of the divine science, even as I shall persevere
  | with courage and determination through this ceremony which is
  | their image - and I will not debase my mustical knowledge in the
  | labour of evil magic at any time tried or under any temptation.
say(role="candidate,hierophant")
  | I swear upon this holy symbol to observe all these things withoout
  | evasion, equivocation, or mental reservation, under the penalty of
  | being expelled from this order for my perjury and my offense.
  | Furthermore, if I break this, my magical obligation, I submit
  | myself, by my own consent, to a stream of power, set in motion by
  | the divine guardians of this Order, who live in the light of their
  | perfect justice, and before whom my soul now stands.
do(role="all") Whisper close to Candidate.
say(role="all")
  | They journey as upon the winds—
  br
  | They strike where no man strikes—
  br
  | They slay where no man slays—
say(role="candidate,hierophant")
  | and, as I bow my neck under the sword of the Hiereus, so do I commit
  | myself unto their hands for vengence or reward.
do(role="hiereus")
  | At words "bow my neck" below, places the flat of his sword
  | on the nape of the candidate's neck.
say(role="candidate,hierophant")
  | So help me my mighty and secret soul, and the Father of my soul
  | who works in silence and whom naught but silence can express.
say(role="hierophant")
  | Rise, Neophyte, of the
  |
  grade(grade="0=0")
  |
  | grade of the
  |
  var(name="orderName")
  | .
do(role="hierophant") Returns to his throne
do(role="hiereus") Removes hassock and returns to his throne
do(role="hegemon") Assists candidate to rise
do(role="solistes,dadouchos,keryx") Resume their seats
say(role="hierophant") Honoured Hegemon, you will now place the Neophyte
  | in the northern part of the hall - the place of forgetfulness, dumbness,
  | and necessity, and of the greatest symbolical darkness.
do(role="hegemon") Takes candidate to the north and faces him east
do(role="keryx") Goes with lamp and wand to the northeast
do(role="stolistes,dadouchos") Stand ready to follow the procession
say(role="hierophant")
  | The voice of my undying and secret soul said unto me—
  | "Let me enter the path of darkness and, peradventure, there shall I
  | find the light. I am the only being in an abyss of darkness; from
  | an abyss of darkness came I forth ere my birth, from the silence of a
  | a primal sleep."
say(role="hierophant")
  | And the voice of the ages answered to my soul—
  | "I am He who formulates in darkness" —
  | the light that shineth in darkness, yet the darkness comprehendeth it not.
say(role="hierophant")
  | Let the mystical circumambulation take place in the path of knowledge that
  | leadeth unto light, with the lamp of hidden knowledge to guide us.
do(role="keryx") Leads forward
do(role="hegemon") Follow with Candidate
do(role="stolistes,dadouchos") Follow
do(role="hierophant") ✊ as candidate passes
do(role="keryx,hegemon,stolistes,dadouchos") Pass on by the south, west
do(role="hiereus") ✊ as candidate passes
do(role="keryx,hegemon,stolistes,dadouchos") Pass on by the north, east
do(role="hierophant") ✊ as candidate passes
do(role="keryx")
  | Stops in the south after second passing of Hierophant and bars
  | the way with his wand.
say(role="keryx")
  | Unpurified and unconsecrated, thou canst not enter the path of the west!
do(role="stolistes")
  | Comes forward and, dipping his thumb in water, makes a cross
  | on candidate's brow and sprikles three times
say(role="stolistes") I purify thee with water.
do(role="dadouchos")
  | Comes forward, censes in the form of a cross, waves incense three times
say(role="dadouchos")
  | I concecrate thee with fire.
do(role="stolistes,dadouchos") Step back to their places in the procession
say(role="hegemon")
  | Child of Earth, twice purified and twice consecrated, thou mayest
  | approach the gateway of the west.
do(role="keryx") Leads the procession to throne of Hiereus
do(role="hegemon") Raises the hoodwink for a moment
do(role="hiereus") Stands threatening with his sword
say(role="hiereus") Thou canstnot pass by me, saith the guardian of the west,
  |
  | unless thou canst tell me my ame.
say(role="hegemon") Darkness is thy name, thou great one of the paths of the
  |
  | shades.
say(role="hiereus") Thou hast known me now, so pass thou on.
  |
  | Fear is failure so be thou without fear.
  | For he who trembles at the flame and at the flood and at the shadows
  | of the air, hath no part in God.
do(role="keryx") Leads on
do(role="hegemon,candidate,stolistes,dadouchos") Follows
do(role="hierophant") ✊ as they pass
do(role="hiereus") ✊ as they pass
do(role="keryx") Halts in the north and raises his wand
say(role="keryx") Unpurified and unconsecrated, thou canst not enter the
  | path of the east!
do(role="stolistes") Cross and sprinkling as before
say(role="stolistes") I purify thee with water.
do(role="dadouchos") Cross and censing as before
say(role="dadouchos") I purify thee with fire.
say(role="hegemon") Child of Earth, thrice purified and thrice consecrated,
  | thou mayest approach the gateway of the east!
do(role="keryx") Leads the procession forward to Hierophant
do(role="hegemon,candidate,stolistes,dadouchos") follows
do(role="hierophant") Stands threatening with his sceptre
do(role="hegemon") Raises the hoodwink for a moment
say(role="hierophant") Thou canst not passs by me, saith the guardian of the
  | east, unless thouo canst tell me my name.
say(role="hegemon") Light dawning in darkness is thy name, the light of a
  | golden day!
say(role="hierophant") Unbalaced power is the ebbing away of life.
  | Unbalanced mercy is weakness and the fading out of will.
  | Unbalanced severity is crulety and the barrenness of mind.
  | Thou hast known me now, so pass thou on to the cubical altar of
  | the universe.
do(role="hegemon") Replaces hoodwink
do(role="keryx") Leads processing to the altar
do(role="hegemon") Place candidate exactly west of the altar
do(role="hegemon") Stands to the right of the candidate
do(role="hiereus") Stands to the left of the candidate
do(role="keryx,stolistes,dadouchos") Form a supporting triangle behind candidate.
do(role="hierophant") Holds sceptre in his right hand and the Banner of the East
  | in his left, advances between the pillars and comes to the east of the altar.
say(role="hierophant") I come in the power of the light
  br
  | I come in the light of wisdom.
  br
  | I come in the mercy of the light.
  br
  | The light hath healing in its wings.
do(role="all-officers") Form a hexagram round the altar
do(role="hiereus") Holds his sword in his right hand,
  | the Banner of the West in his left
do(role="all-officers-except-hierophant") Kneel down
do(role="hegemon") Assists candidate to kneel
do(role="hierophant") Stands, raising his hands, holding sceptre and
  | Banner for the Invocation as follows
say(role="hierophant")
  | Lord of the Universe - the vast and the mighty one!
  | Ruler of the light and of the darkness!
  | We adore Thee and we invoke Thee!
  | Look with favour on this Neophyte who now kneeleth before Thee,
  | and grant Thine aid unto the higher aspirations of his soul,
  | so that he may prove a true and faithful frater Neophyte among us.
  | To the glory of Thine ineffable name. Amen!
do(role="all") Rise
do(role="hegemon") Assists candidate to rise, brings close to the altar
do(role="hierophant,hiereus,hegemon") Raise their wands and sword to touch
  | each other over the head of the candidate.
say(role="hegemon") Inheritor of a dying world, we call thee to the
  | living beauty.
do(role="keryx") At the word "darkness" (below), removes the hoodwink.
say(role="hiereus") Wanderer in the wild darkness, we call thee to the
  | gentle light.
do(role="keryx") Removes the hoodwink (at the word "darkness", above)
say(role="hierophant") Long hast thouo swelt in darkness —
  | quit the night and seek the day.
say(role="hierophant,hegemon,hiereus") (Together)
  |
  | We receive thee into the
  |
  var(name="orderName")
  | .
say(role="hierophant") Khabs.
say(role="hiereus") Am.
say(role="hegemon") Pekht.
say(role="hiereus") Konx.
say(role="hegemon") Om.
say(role="hierophant") Pax.
say(role="hegemon") Light.
say(role="hierophant") In.
say(role="hiereus") Extension.
do(role="all-officers") Take down their sceptres and sword.
do(role="keryx") Moves to northeast of the altar and raises his lamp.
do(role="hierophant") Points to the lamp to direct candidate's attention.
say(role="hierophant") In all thy wandering in darkness, the lamp of the
  | Keryx went before thee, thouogh it was not seen by thine eyes. It
  | is a symbol of the light of the hidden knowledge.
do(role="hiereus,keryx,stolistes,dadouchos") Return to their places.
do(role="hierophant") Returns to his throne.
do(role="hegemon,candidate") Remain West of the altar.
say(role="hierophant") Let the Neophyte be led to the east of the altar.
do(role="hegemon") Places him to the east, near but not between the pillars,
  | and he takes his place outside the white pillar.
say(role="hierophant") Honoured Hiereus, give the Neophyte the secret signs,
  | token, and words, together with the present password of the
  |
  grade(grade="0=0")
  | of the
  |
  var(name="orderName")
  | . Place him between the mystical pillars and superintend his fourth
  | and final consecration.
do(role="hiereus") Passes by the north to the black pillar, comes round
  | to the east.
do(role="hegemon") Advances to meet Hiereus and take from him his
  | sword and banner.
do(role="hiereus") Gives sword and banner to Hegemon and step between the
  | pillars, facing the candidate.
say(role="hiereus") Frater
  |
  |
  b
    var(name="candidateMotto")
  | , I shall now proceed to instruct you in the secret step, signs,
  | grip and words of this grade.
say(role="hiereus") Firstly, advance your left foot a short space, as if
  | entering a portal. This is the step.
say(role="hiereus") The signs are two. The first or saluting sign is given
  | thus: Lean forward and stretch both arms out thus:
  |
  i (make Neophyte do this)
  | . It alludes to your condition in a state of darkness, groping for light.
  | The second sig is the Sign of Silence, and is given by placing the left
  | forefinger on your lip thus
  |
  i (make Neophyte do this)
  | . It is the position shown in many ancient statutes of Harpocrates,
  | and it alludes to the silence you have sworn to maintain concerning
  | everything connected with this Order. The first sign is always answered
  | by the second.
say(role="hiereus")
  | The grip or token is given thus: advance your left foot touching mine,
  | toe and heel, extend your right hand to grasp mine, fail, try again,
  | and then succeed in touching the fingers only. It alludes to the
  | seeking guidance guidance in darkness.
  br
  br
  | The grand word is Har-Par-Krat, and it is whispered in this position
  | mouth to ear, in syllables.
  |
  i (They exchange the word.)
  |
  | It is the Egyptian name for the god of silence, and shoould always
  | remind you of the strict silence you have sworn to maintain.
say(role="hiereus")
  | The password is
  |
  i (word)
  | . It is periodically changed each equinox, so that a member who has
  | resigned, demitted, or been expelled, may be in ignorance of the
  | existing password.
say(role="hiereus")
  i
    | I now place you between the two pillars of Hermes and of Solomon
    | in the symbolical gateway of occult wisdom.
do(role="hegemon")
  | Ready the Hiereus' sword to give back to him
do(role="hiereus")
  | Leads Neophyte forward and then takes back the sword and banner.
  | He stands northeast of the black pillar and says:
say(role="hiereus")
  | Let the final consecration take place.
do(role="stolistes,dadouchos") Come forward and purify and consecrate
  | the hall as in the opening
do(role="stolistes") On returning East, turns round to Neophyte,
  | makes a cross of water on his brow, and sprinkles three times
say(role="stolistes") I purify thee with water.
do(role="dadouchos") Turns round from the east, makes a cross and
  | censes 3 times
say(role="dadouchos") I purify thee with water.
do(role="stolistes,dadouchos") Return to their places

say(role="hierophant") Honoured Hegemon, I command you to remove the rope,
  | last remaining symbol of the path of darkness, and to invest our
  | frater with the badge of this degree.
do(role="hiereus") Ready to receive Hegemon's sceptre and ritual
do(role="hegemon") Comes forward and hands his sceptre and ritual to
  | Hiereus. Removes the rope and puts on the sash over the left
  | shoulder
say(role="hegemon") By command of the very honoured Hierophat, I invest
  | you with the badge of this degree. It symbolised light dawning in
  | darkness.
do(role="hiereus") Returns sceptre, etc, to Hegemon
do(role="hegemon") Takes sceptre, etc, and returns to white pillar

say(role="hierophant") Let the mystical circumambulation take place in the
  | path way of light.
do(role="keryx") Goes to the northeast
do(role="hegemon") Takes candidate behind the black pillar, and
  | stands behind Keryx
do(role="hiereus,stolistes,dadouchos") Follow
do(role="hierophant") Stands holding sceptre and banner as in the opening
do(role="keryx") Leads off
do(role="all-except-hierophant") Salute on passing Hierophant
do(role="hiereus") Drops out on reaching his throne
do(role="hegemon") Returns to between the pillars after passing Hierophant
  | twice. Directs Neophyte to follow Keryx
note Remaining officers pass the Hierophant thrice.
do(role="hierophant") Waits for third passing
say(role="hierophant") Take your place northwest of the Stolistes.
do(role="keryx") Indicates this and goes on
do(role="stolistes")
  | Follows and falls out in the north and returns to his place
do(role="hegemon") Replaces his chair between the pillars and sits down
do(role="keryx") Replaces the rose, lamp, cup and paten in their proper
  | places o the altar.
do(role="all") Take their seats.

say(role="hierphant")
  | The threefold cord bound about your waist was an image of the
  | threefold bondage of mortality, which amongst the initiated is
  | called earthly or material inclination, that has bound into a
  | narrow place the once far-wondering soul; and the hoodwink was an
  | image of the darkness, of ignorance, of morality that has blinded
  | men to the happiness and beauty their eyes once looked upon.
say(role="hierphant")
  | The double cubical altar in the centre of the hall is an emblem of
  | visible nature or the material universe, concealing within herself
  | the mysteries of all dimensions, while revealing her surface to the
  | exterior senses. It is a double cube because, as the Emerald
  | Tablet has said, "The thigs that are below are a reflection of the
  | things that are above." The world of men and women created to
  | unhappiness is a reflection of the world of divine being created to
  | happiness. It is described in the Sepher Yetzirah, or the Book
  | of Formation, as "an abyss of height" and as "an abyss of depth",
  | "an abyss of the east" and "an abyss of the west", "an abyss of the
  | "an abyss of the north" and "an abyss of the south". The altar is
  | black because, unlike divine beings who unfold in the element of light,
  | the fires of created beings arise from darkness and obscurity.
say(role="hierphant")
  | On the altar is a white triangle to be the image of that immortal
  | light, that triune light, which moved in darkness and formed the
  | world of darkness and out of darkness. There are two contending
  | forces and one always uniting them; and these three have their
  | image in the threefold flame of our being and in the threefold wave
  | of the sensual world.

do(role="hierophant") Stands in the form of a cross.
say(role="hierophant") Glory be to Thee, Father of the undying.
  | For Thy glory flows out rejoicing to the ends of the earth!
do(role="heirophant") Reseats himself.

say(role="hierophant")
  | The red cross above the white triangle is an image of Him who was
  | unfolded in the light. At its east, south, west and north angles
  | are a rose, fire, cup of wine, and bread and salt. These allude to
  | the four elements: air, fire, water, earth.
say(role="hierophant")
  | The mystical words
  |
  i
    | Khabs Am Pekht
  |
  | are ancient Egyptian, and are the origin of teh Greek "Konx Om Pax"
  | which was uttered at the Eleusinian Mysteries. A literal translation
  | would be "light rushing out in one ray", and they signify the same
  | form of light as that symbolized by the staff of the Keryx.
say(role="hierophant")
  | East of the double cubical altar of created things are the pillars
  | of Hermes and of Solomon. On these are painted certain hieroglyphics
  | from the 17th and the 125th chapters of the Book of the Dead. They
  | are the symbols of the two powers of day and night, love and hate,
  | work and rest, the subtle force of the lodestone and the eternal
  | outpouring and inpouring of the heart of God.
say(role="hierophant")
  | The lamps that burn, though with a veiled light, upon their summits
  | show that the pathway to hidden knowledge, unlike the pathway of
  | nature — which is a continual undulation, the winding hither and
  | tither of the serpent — is the straight and narrow way between them.
say(role="hierophant")
  | It was because of this that I passed between them, when you came
  | to the light, and it was because of this that you were placed between
  | them to receive the final consecration.
say(role="hierophant")
  | Two contending forces and one which unites them externally.
  | Two basal angles of the triangle and one which forms the apex.
  | Such is the origin of creation — it is the triad of life.
say(role="hierophant")
  | My throne at the gate of the east is the place of the guardian of
  | the dawning sun.
say(role="hierophant")
  | The throne of the Hiereus at the gate of the west is the place of
  | the guardian against the multitudes that sleep through the light and
  | awaken at the twilight.
say(role="hierophant")
  | The throne of the Hegemon seated between the columns is the place of
  | balanced power, between the ultimate light and the ultimate darkness.
  | These meanings are shown in detail and by the colour of our robes.
say(role="hierophant")
  | The wand of the Keryx is the beam of light from the hidden wisdom,
  | and his lamp is an emblem of the ever-burning lamp of the guardian
  | of the mysteries.
say(role="hierophant")
  | The seat of the Stolistes at the gate of the north is the place
  | of the guardian of the couldron and the well of water - of cold
  | and moistures. The seat of the Dadouchos at the gate of the south is
  | the place of the guardian of the lake of fire and the burning bush.
say(role="hierophant")
  | Frater Keryx, I command you to declare that the Neophyte has been
  | initiated into the mysteries of the
  |
  grade(grade="0=0")
  | .

do(role="keryx") Advances to the northeast, faces west and raises his wand.
say(role="keryx") In the name of the Lord of the Universe, who works in
  | silence and whom naught but silence can express, and by command of
  | the very honoured Hierophant, hear ye all, that I proclaim that
  |
  b
    var(name="candidateName")
  | , who will henceforth be known to yuo by the motto
  |
  b
    var(name="candidateMotto")
  | , has been duly admitted to the
  |
  grade(grade="0=0")
  |
  | grade as a Neophyte of the
  |
  var(name="orderName")
  | .
do(role="keryx") Returns to his place.

say(role="hierophant") Honoured Hiereus, I delete to youo the duty of
  | pronouncig a short address to our frater on his admission.
say(role="hiereus") Frater
  |
  |
  b
    var(name="candidateMotto")
  | , it is my duty to deliver this exhortation to you.
  | Remember your obligation in this Order to secrecy — for
  | strength is in silence, and the seed of wisdom is sown in silence
  | and grows in darkness and mystery.
say(role="hiereus")
  | Remember that youo hold all religions in reverence, for there is
  | none but contain a ray from the ineffable light that you are
  | seeking. Remember the penalty that awaits the breaker of his
  | oath. Remember the mysery that you have received, and that the
  | secret of wisdom can be discerned only from the place of balanced
  | powers.
say(role="hiereus")
  | Study well the great arcanum of the proper equilibrium of severity
  | and mercy, for either unbalanced is not good. Unbalanced severity
  | is cruelty and opression; unbalanced mercy is but weakness and
  | would permit evil to exist unchecked, thus making itself, as it
  | were, the accomplice of evil.
say(role="hiereus")
  | Remember that things divine are not attained by mortals who understand
  | the body alone, for only those who are lightly armed can attain summit.
say(role="hiereus")
  | Remember that God alone is our light and the bestower of perfect
  | wisdom, and that no mortal power can do more than bring you to the
  | path of that wisdom, which He could, if it so pleased Him, put into
  | the heart of a child. For as the whole is greater than the part, so
  | are we but sparks from the unsupportable light which is in Him.
say(role="hiereus")
  | The ends of the earth are swept by the borders of His garment of
  | flame — from Him all thigs proceed, and unto Him all things return.
say(role="hiereus")
  | Therefore, we invoke Him. Therefore even the Banner of the East falls
  | in adoration before Him.

say(role="hierophant")
  | Before you can ask to pass to a higher grade, you will have to commit
  | certain rudiments of occult knowledge to memory. A manuscript lecture
  | in these subjects will be supplied to you by the chief in whose charge
  | they are. When you can pass an examination in this elementary
  | Qabalistic knowledge, you will inform the member in whose charge you are,
  | and arrangements will be made for you to sit for examination. If you
  | are found perfect, yoou will then apply for admission to the next
  | degree. Remember, that without a dispensation from the Second Order, no
  | person can be admitted or advance to a grade of the First Order.

do(role="keryx")
  | Conducts Neophyte to his table and gives him one of the small dishes
  | of solution to hold
say(role="keryx")
  | Nature is harmonious in all her workings, and that which is above is
  | as that which is below. Thus also, the truths which by material
  | science we investigate, are but special examples of the all-pervading
  | laws of the universe. So, within this pure and limpid fluid, lie hidden
  | and unperceived of mortal eyes, the elements bearing the semblance of
  | blood, even as within the mind and brain of the initiate lie concealed
  | the divine secrets of the hidden knowledge. Yet if the oath be
  | forgotten, and the solemn pledge broken, then that which is secret
  | shall be revealed, even as this pure fluid reveals the semblance of
  | blood.
do(role="keryx")
  | Adds fluid from the other dish
say(role="keryx")
  | Let this remind thee ever, O Neophyte, how easily by a careless or
  | unthinking word, thou mayst betray that which thou hast sworn to
  | keep secret and mayst reveal the hidden knowledge imparted to thee,
  | and planted in thy brain and in thy mind. And let the hue of blood
  | remind thee that if thou sahlt fail in this thy oath of secrecy, thy
  | blood may be poured out and thy body broken; for heavy is the
  | penalty exacted by the guardians of the hidden knowledge from those
  | who will wilfully betray their trust.

do(role="hierophant") Comes to the table
note The register is signed.
say(role="hierophant") Resume your seat, and remember that your admission
  | to this Order does not give you the right to initiate any other person
  | without a dispensation from the greatly honoured chiefs of the
  | Second Order.
do(role="keryx") Directs Neophyte to his seat
do(role="hierophant") Returns to the dais

title(text="Closing of the 0=0 Grade")
  | Closing of the
  |
  grade(grade="0=0")
  |
  | Grade

do(role="hierophant") ✊
do(role="keryx") Goes to the northeast, faces west, raises lamp and wand.
say(role="keryx") Hekas! Hekas! Esti bebeloi.
do(role="keryx") Returns to place.

say(role="hierophant")
  | Fratres and sorores of the
  |
  var(name="templeName")
  |
  | Temple of the
  |
  var(name="orderName")
  | , assist me to close the hall of the Neophytes.
do(role="all") Rise.
do(role="stolistes") Directs Neophyte to rise.

do(role="hiereus") ✊
do(role="hegemon") ✊
do(role="kerux") ✊
do(role="sentinel") ✊

say(role="hierophant") Frater Keryx, see that the hall is properly guarded.
say(role="keryx") The hal is properly guarded, very honoured Hierophant.
say(role="hierophant") Honoured Hiereus, assure youorself that all present
  | have beheld the
  |
  var(name="witnessed")
  | .

say(role="hiereus") Fratres and sorores, give the signs.
do(role="all-except-hierophant") Perform signs.
say(role="hiereus") Very honoured Hierophant, all present have been so
  | honoured.
say(role="hierophant") Let the hall be purified by water and by fire.

say(role="stolistes") I purify with water.
do(role="stolistes") Purifies as in the opening.
say(role="dadouchos") I consecrate with fire.
do(role="dadouchos") Consecrates as in the opening.

say(role="hierophant") Let the mystical reverse circumambulation take place
  | in the pathway of light.
do(role="keryx") Goes by the south to the southeast.
do(role="hegemon") Goes to the north and leads the new Neophyte by the
  | west and south, directing him to follow Hegemon in the procession.
do(role="hiereus") Follows Neophyte.
do(role="stolistes") Follows Hiereus.
do(role="dadouches") Accompanies or follows Stolises.
do(role="sentinel") Ends the procession.
do(role="hierophant") Stands and holds the Banner of the East in his left
  | hand, sceptre in his right.
do(role="all-except-hierophant")
  | Make the Neophyte signs up on passing the Hierophant.
do(role="hiereus") Drops out when his throne is reached.
do(role="hegemon") Passes Hierophant twice and then takes his place
  | between the pillars, directing Neophyte to follow Keryx.
do(role="keryx") After the third passing of the Hierophant, directs
  | Neophyte to his seat.
do(role="all-except-hierophant,hiereus,hegemon,keryx")
  | Drop out as their places reached.

say(role="hierophant") The mystical circumambulation is accomplished. It is
  | the symbol of fading light. Let us adore the Lord of the Universe.
do(role="all") Turn east.
do(role="stolistes") Directs Neophyte to rise and face east.
do(role="hierophant") Faces East, making salute at each adoration.
do(role="all-except-hierophant") Repeat after Hierophant.
say(role="all")
  | Holy art Thou, Lord of the Universe! (salute)
  br
  | Holy art Thou, Whom nature hath not formed! (salute)
  br
  | Holy art Thou, the vast and the mighty one! (salute)
  br
  | Lord of the light and the darkness! (Sign of Silence)

say(role="hierophant")
  | Nothing now remains but to partake together in silence, of the mystic
  | repast, composed of the symbols of the four elements, and to remember
  | our pledge of secrecy.
do(role="all") Are seated.
do(role="hierophant") Puts down his sceptre and returns the Banner of the
  | East to its place. He goes to the west of the altar and facing east
  | gives the saluting sign but not the Sign of Silence, and takes up the
  | rose
say(role="hierophant") I invite you to inhale with me the perfume of this
  | rose, as a symbol of air.
do(role="hierophant") Smells rose
say(role="hierophant") To feel with me the warmth of this sacred fire.
do(role="hierophant") Spreads his hands over it.
say(role="hierophant") To eat with me this bread and salt as types of earth.
do(role="hierophant") Dips bread in salt and eats.
say(role="hierophant") And finally to drink with me this wine, the
  | consecrated emblem of elemental water.
do(role="hierophant") Makes a cross with the cup and drinks.

do(role="hierophant") Puts down the cup between cross and triangle.
  | Comes east of the altar and faces west.

do(role="praemonstrator")
  | Comes to the west of the altar and makes the saluting sign.
do(role="hierophant")
  | Replies with Sign of Silence.
do(role="hierophant") Gives Praemonstrator the rose.
do(role="praemonstrator") Smells and returns rose.
do(role="praemonstrator") Feels the warmth of the lamp
do(role="praemonstrator") Eats the bread and salt
do(role="hierophant") Gives Praemonstrator the cup.
do(role="praemonstrator") Takes cup and makes a cross, drinks and returns.
do(role="hierophant") Passes by west and south to his throne.
do(role="praemonstrator") Comes to the east of the altar.
do(role="imperator") Comes to the west, exchanges signs and partakes.
  | Returns to his place after serving Cancellarius.
do(role="cancellarius") Repeat and serve Past Hierophant.
do(role="pastHierophant") Repeat and serve Hiereus.
do(role="hiereus") Repeat and serve Hegemon.
do(role="hegemon") Repeat and serve Stolistes.
do(role="stolistes") Repeat and serve Dadouchos.
do(role="dadouchos") Repeat and serve remaining Inner Order members in
  | order of seniority.
note Remaining Inner Order members in order of seniority partake but
  |
  | without waiting for instruction. If there is a pause, one comes
  | forward.
note Repeated by members of the Outer Order in the same manner.
  |
  | Philosophi, Practici, Theorici, Zelatores, Neophytes.
do(role="hegemon") Directs Neophyte to return to his place as soon
  | as Keryx takes the cup (in next step)
do(role="keryx") Waits for last Neophyte to stand east of the altar,
  | comes to the west, exchanges the signs and partakes.
do(role="keryx") Receives cup, drains it and inverts it.
say(role="keryx") It is finished!
do(role="keryx") Replaces his cup and returns to his place.
do(role="all") Rise

say(role="hierophant") ✊ Tetelestai!
do(role="hiereus") ✊
do(role="hegemon") ✊
say(role="hierophant") ✊ Khabs
say(role="hiereus") ✊ Am.
say(role="hegemon") ✊ Pekht.
say(role="hiereus") ✊ Konx.
say(role="hegemon") ✊ Om.
say(role="hierophant") ✊ Pax.
say(role="hegemon") ✊ Light.
say(role="hierophant") ✊ In.
say(role="hiereus") ✊ Extension.
do(role="all") Make signs towards the altar.

say(role="hierophant")
  | May what we have partaken maintain us in our search for the
  | quintessence, the stone of the philosophers, true wisdom,
  | perfect happinesss, the summum bonum.
do(role="keryx") Leads out the Neophyte
do(role="all-officers-except-keryx") Remain in the temple
